* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  background-color: #caf0f8;
}

h1 {
  border: #444 solid 5px;
  background-color: #03045e;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  width: 1200px;
  column-gap: 75px;
  row-gap: 60px;
}

.amt-breakup {
  border: #444 2px solid;
  border-radius: 5px;
  height: 300px;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.payment {
  grid-column: 1/-1;
  grid-row: 6/7;
  background-color: #03045e;
  color: white;
  border: none;

}

.payment:hover {
  background-color: #caf0f8;
  color: black;
  
}

.cart-products {
  display: grid;
  gap: 20px;
}

.prod1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border: #90e0ef solid 5px;
  border-radius: 10px;
  background-color: #90e0ef;
}

.name {
}

.manuf-name {
  grid-row: 2/3;
}

.drug-pic {
  grid-row: 1/3;
}

.qty-input {
  grid-column: 3/4;
  grid-row: 1/3;
}

.price {
  grid-row: 2/3;
  grid-column: 3/4;
}

.bill {
}

.sidepanel {
  width 75px;
  background-color:#03045e;
  border: #03045e 5px solid;
  border-radius: 10px;
  font-size: 24px;
  list-style: none;
}



.sp{
  padding: 10px;
}

.sp:link,
.sp:visited{
  text-decoration: none;
  color: #fff;
  }


  .sp:hover,
  .sp:active{
    background-color: #90e0ef;
    border-radius: 10px;
  }

  .qtyinput{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3/4;
  }

  .qtyfld{
    background-color: #fff;
    padd
    align-items: center;  
  }

  .qtymod{
    border-radius: 500px;
  }